@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Titillium+Web:wght@600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border-radius: .33rem;
}

.header {
  background-color: #000000;
  padding: 1.5rem 5rem;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hamburger {
  display: none;
}

.nav-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  display: none;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  width: 35rem;
}

.nav-linkitem a {
  color: #fff;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 0.875rem;
}

.nav-linkhome a {
  color: #FF8A00;
}

.sign-in, .sign-up {
  font-size: 0.875rem;
  font-weight: 500;
  font-family: 'Poppins';
  color: #fff;
  border: none;
  display: none;
}

.sign-in {
  background-color: transparent;
  margin-right: 1rem;
}

.sign-up {
  background-color: #FF8A00;
  width: 5.75rem;
  padding: .45rem 0;
  border-radius: .35rem;
}

.header-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 4rem;
  padding-bottom: 2rem;
}

.header-info {
  width: 28rem;
}

.header-info h1 {
  color: #fff;
  font-size: 2.5rem;
  font-family: 'Titillium Web';
  font-weight: 700;
  line-height: 3rem;
}

span.orange {
  color: #FF8A00;
}

.header-main img {
  width: 40rem;
}

.header-info p {
  color: #D3D3D3;
  font-family: 'Poppins';
  font-weight: 500;
  margin: 2rem 0;
  font-size: .9rem;
}

.move-cargo {
  background-color: #FF8A00;
  color: #fff;
  border: none;
  font-family: 'Poppins';
  font-weight: 500;
  padding: .6rem 2.5rem;
  border-radius: .33rem;
  font-size: .9rem;
}

.services {
  padding: 4rem 5rem 3rem 5rem;
}

.services h5{
  font-size: 1rem;
  color: #005ECD;
  font-family: 'Poppins';
  font-weight: 500;
  text-align: center;
  margin-bottom: .5rem;
}

.services h3 {
  color: #171717;
  font-size: 1.5rem;
  font-family: 'Titillium Web';
  font-weight: 600;
  text-align: center;
  width: 25rem;
  margin: 0 auto 1.5rem auto;
  line-height: 2rem;
}

.services-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.services-mob {
  display: none;
}

.service-box {
  width: 32%;
  height: 17rem;
  background-color: #FEFEFE;
  border: 1px solid #DFDFDF;
  margin-bottom: 1.5rem;
  border-radius: .45rem;
  padding: 1rem;
}

.box-img {
  background-color: #FF8A0014;
  width: 3.5rem;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: .5rem;
  margin-bottom: 1rem;
}

.service-box p {
  color: #171717;
  font-size: 1.1rem;
  font-family: 'Poppins';
  font-weight: 500;
  margin-bottom: .8rem;
}

.service-box span {
  color: #374151;
  font-size: .9rem;
  font-family: 'Poppins';
  font-weight: 400;
}

.slider-icons {
  display: none;
}

.choose {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5rem 4rem 5rem;
}

.why-choose h3{
  font-size: 1.5rem;
  font-weight: 600;
  font-family: 'Titillium Web';
  color: #171717;
  padding-bottom: .3rem;
}

.line {
  background-color: #005ECD;
  height: .1rem;
  width: 4.6rem;
  margin-bottom: 2rem;
}

.choose-list {
  padding-left: 1.5rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.choose-listitem {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.list-number {
  margin-right: 1.2rem;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  border: 2px solid #171717;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Titillium Web';
  font-weight: 600;
  color: #171717;
}

.choose-listitem p {
  color: #171717;
  font-family: 'Poppins';
  font-weight: 500;
}

.your-cargo {
  background-color: #FF8A00;
  color: #fff;
  border: none;
  font-family: 'Poppins';
  font-weight: 500;
  padding: .4rem 1.5rem;
  border-radius: .35rem;
  font-size: .9rem;
}

.choose img {
  width: 40rem;
}

.value {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(./images/value-bg.png);
  padding: 2rem;
}

.value h3 {
  color: #fff;
  font-family: 'Titillium Web';
  font-weight: 600;
  font-size: 1.5rem;
  width: 18rem;
  text-align: center;
  margin: 0 auto 1.5rem auto;
  line-height: 1.6rem;
}

.get {
  background-color: #FF8A00;
  color: #fff;
  border: none;
  font-family: 'Poppins';
  font-weight: 500;
  padding: .4rem 3rem;
  border-radius: .35rem;
  margin-bottom: 1rem;
}

.value span {
  font-size: .9rem;
  color: #fff;
  font-weight: 600;
  font-family: 'Titillium Web';
}

.footer {
  background-color: #004D7626;
  padding: 2rem 0 1rem 0;
}

.footer-lists {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-bottom: 3rem;
  border-bottom: 1px solid #D3D3D3;
  padding: 0 12rem 2rem 4rem;
}



.footer p {
  font-family: 'Poppins';
  font-weight: 500;
  margin-bottom: .7rem;
}

.footer span {
  display: block;
  font-family: 'Poppins';
  font-weight: 300;
  font-size: .875rem;
}

.footer-bottom {
  padding: 1rem 0 0 4rem;
}

@media(max-width: 765px)  {
  .header {
    width: 100%;
    padding: 2rem;
  }

  .navbar {
    width: 100%;
  }
  
  .nav-input {
    display: none;
  }

  .hamburger {
    display: block;
  }
  
  .header-main {
    flex-direction: column;
  }
  
  .header-info {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .header-info h1 {
    text-align: center;
    font-size: 1.8rem;
    line-height: 2.5rem;
  }

  .header-info p {
    text-align: center;
  }
  
  span.orange {
    color: #FF8A00;
  }
  
  .header-main img {
    display: none;
  }
  
  .header-info p {
    color: #D3D3D3;
    font-family: 'Poppins';
    font-weight: 500;
    margin: 2rem 0;
    font-size: .9rem;
  }

  .header-link {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .move-cargo {
    background-color: #FF8A00;
    color: #fff;
    border: none;
    font-family: 'Poppins';
    font-weight: 500;
    padding: .6rem 3rem;
    border-radius: .35rem;
    margin: 1rem  auto 0 auto;
  }
  
  .services {
    padding: 2.5rem;
    width: 100%;
  }
  
  .services h5{
    font-size: 1rem;
    color: #005ECD;
    font-family: 'Poppins';
    font-weight: 500;
    text-align: center;
    margin-bottom: .5rem;
  }
  
  .services h3 {
    text-align: center;
    color: #171717;
    font-size: 1.5rem;
    font-family: 'Titillium Web';
    font-weight: 600;
    text-align: center;
    width: 20rem;
    margin: 0 auto 2.5rem auto;
    line-height: 1.8rem;
  }
  
  .services-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .service-box {
    display: none;
  }
  
  .service-box.display {
    width: 100%;
    height: 17rem;
    background-color: #FEFEFE;
    border: 1px solid #DFDFDF;
    margin-bottom: 1.5rem;
    border-radius: .45rem;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
  }
  
  .box-img {
    background-color: #FF8A0014;
    width: 3.5rem;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .5rem;
    margin-bottom: 1rem;
  }
  
  #service-boxmob p {
    color: #171717;
    font-size: 1.2rem;
    font-family: 'Poppins';
    font-weight: 500;
    margin-bottom: .8rem;
  }
  
  #service-boxmob span {
    color: #374151;
    font-size: 1rem;
    font-family: 'Poppins';
    font-weight: 400;
    text-align: center;
    line-height: 1.7rem;
  }

  .services-mob {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: relative;
    height: 23rem;

  }

  #service-boxmob {
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.3s linear;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #FEFEFE;
    border: 1px solid #DFDFDF;
    margin-bottom: 1.5rem;
    border-radius: .45rem;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #service-boxmob.activeSlide {
    opacity: 1;
    transform: translateX(0);
  }
  #service-boxmob.lastSlide {
    transform: translateX(-100%);
  }
  #service-boxmob.nextSlide {
    transform: translateX(100%);
  }

  .slider-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
  }
  
  .prev-icon, .next-icon {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  
  .choose {
    flex-direction: column-reverse;
    padding: 0;
  }
  
  .why-choose h3{
    font-size: 1.5rem;
    font-weight: 600;
    font-family: 'Titillium Web';
    color: #171717;
    padding-bottom: .3rem;
  }
  
  .line {
    background-color: #005ECD;
    height: .1rem;
    width: 4.6rem;
    margin-bottom: 2rem;
  }
  
  .choose-list {
    padding-left: 0rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }
  
  .choose-listitem {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
  }
  
  .list-number {
    margin-right: 2rem;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    border: 2px solid #171717;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Titillium Web';
    font-weight: 600;
    color: #171717;
  }
  
  .choose-listitem p {
    color: #171717;
    font-family: 'Poppins';
    font-weight: 500;
  }

  .mail-link {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .your-cargo {
    background-color: #FF8A00;
    color: #fff;
    border: none;
    font-family: 'Poppins';
    font-weight: 500;
    padding: .6rem 2rem;
    border-radius: .35rem;
  }
  
  .choose img {
    width: 90%;
    margin-bottom: 2rem;
  }
  
  .value {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(./images/value-bg.png);
    padding: 3rem 2rem;
    margin-top: 3rem;
    width: 100%;
  }
  
  .value h3 {
    color: #fff;
    font-family: 'Titillium Web';
    font-weight: 600;
    font-size: 1.5rem;
    width: 18rem;
    text-align: center;
    margin: 0 auto 2.5rem auto;
    line-height: 1.6rem;
  }
  
  .get {
    background-color: #FF8A00;
    color: #fff;
    border: none;
    font-family: 'Poppins';
    font-weight: 500;
    padding: .6rem 2.7rem;
    border-radius: .35rem;
    margin-bottom: 2rem;
  }
  
  .value span {
    font-size: .9rem;
    color: #fff;
    font-weight: 600;
    font-family: 'Titillium Web';
  }
  
  .footer {
    padding: 2rem 2rem 1rem 2rem;
    position: relative;
    width: 100%;
  }
  
  .footer-lists {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-bottom: 3rem;
    border-bottom: 1px solid #D3D3D3;
    padding: 0 ;
  }

  .footer-listone, .footer-listfour {
    position: absolute;
  }

  .footer-listthree, .footer-listtwo {
    margin-bottom: 12rem;
  }

  .footer-listthree {
    text-align: end;
    width: 45%;
  }

  .footer-listtwo {
    text-align: start;
    width: 55%;
  }

  .footer-listone {
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 6rem;
    left: 0;
    width: 100%;
  }

  .footer-listfour {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    bottom: 10rem;
    left: 0;
    width: 100%;
    margin: 0 auto;
  }
  
  .footer p {
    font-family: 'Poppins';
    font-weight: 500;
    margin-bottom: .7rem;
  }
  
  .footer span {
    display: block;
    font-family: 'Poppins';
    font-weight: 300;
    font-size: .875rem;
  }
  
  .footer-bottom {
    padding: 1rem 0 ;
    text-align: center;
  }
}